{{yield}}


<Search @changebysearch={{this.changebysearch}} @setChildReference={{this.setChildReference}} @availablechoices={{this.datatable.data}} @keyvalues={{this.keyvalues}}/>

{{#if this.popup}}
  <Edit @closepopup={{this.closepopup}} @head={{this.datatable.data}} @editid={{this.editid}}/>
{{/if}}
{{!-- @searchEnabled={{true}} --}}
<br>
<PowerSelectMultiple @options={{this.showitem}} @labelText="Show items:"
     @selected={{this.selectedItems}} @onChange={{this.onshowitemschange}} 
     @onClose={{this.checkclickoutside}}  as |option|>

    {{option.name}}

</PowerSelectMultiple>

<br>

{{#each this.trackedarray as |item index|}}
 {{#if (eq index 0)}}
     <tr> 

      {{#each-in this.showitem as |key-item item-val|}}
           {{#if item-val.visibility}}
               <th>
                <div class="header-content">
                <span class="header-text">{{item-val.name}}</span>
                <div class="sort-button">
                <button {{on "click" (fn this.sorting item-val.name true)}} type="button">/\</button><br>
                <button {{on "click" (fn this.sorting item-val.name false)}} type="button">\/</button>
                </div>
                </div>
               </th>  
           {{/if}} 
      {{/each-in}}

      <th>  <button {{on "click" this.delete}} type="button" >Delete</button>
          <button {{on "click" this.edit}} type="button" >Edit</button>    </th>

     </tr>
    
  {{/if}}

  {{#if item.setting.visibility}}
    <tr>
      {{#each-in item as |cell value|}}
        {{#each-in this.showitem as |key-item item-val|}}
          {{#if (eq item-val.name cell)}}
           {{#if item-val.visibility}}
             <td>{{value}}</td>
            {{/if}}
            
          {{/if}} 
   
        {{/each-in}}
       
        
      {{/each-in}} 

  <td>
        <label>
          <input type="checkbox" checked={{item.setting.ischecked}} {{on "change" (fn this.togglecheckbox item)}}>
        </label>
    </td>

    </tr>
    {{/if}}
{{/each}}

<br>
<label>Page size :
<input type="text" {{on "input" this.changelimit}} value={{this.limit}}>
</label>
<button {{on "click" this.previouspage}}  type = "button">previous</button>
{{this.pageno}}
<button {{on "click" this.nextpage}} type="button">next</button>


{{#if this.loadingfetch}}

<div class="overlay">
<div class="edit-container">
<div class="edit-title">

<h2>Loading......</h2>

</div>
</div>
</div>
{{/if}}




   